{% extends 'base.html' %}

{% block title %}Login | pars{% endblock %}

{% block content %}
<section class="auth-container position-absolute top-0 start-0 w-100">
<article class="auth-container-middle justify-content-center m-auto">
    <div class="col-12 col-sm-8 col-md-4 col-lg-3 card p-0 m-0">
        <div class="card-header d-flex ">
            <strong class="fw-bold" style="font-size: 24px">Login</strong>
        </div>
    <form method="post" class="" style="">
        <article class="card-body ">

        {% csrf_token %}
        <label>Username</label>
        <input type="text" placeholder="Username" class="form-control" name="username">
        <label>password</label>
        <input type="password" placeholder="Password" class="form-control" name="password">
        <label class="mt-1">
            <a class="text-decoration-none" href="{% url 'password_reset' %}">Forget Password ?</a>
        </label>

        <button class="btn btn-primary w-100 mt-1">Login</button>

        <div class="d-flex">
            <hr class="w-100">
            <p class="m-0 p-0 mx-2 my-auto">
                OR
            </p>
            <hr class="w-100">
        </div>
        <div class="w-100 text-center">
            <a class="fw-bold text-decoration-none btn btn-warning w-100" href="{% url 'user_register' %}">Register</a>
            <hr class="w-50 justify-content-center mx-auto">
            <div class="d-flex mx-auto justify-content-center">
                <button type="button" class="btn btn-light rounded-circle d-flex p-0 " style="width: 36px;height: 36px">
                    <i class="fa-brands fa-google justify-content-center m-auto"></i>
                </button>
            </div>
        </div>
        </article>
        <article class="card-footer">
            PARS BORDER
        </article>

    </form>
    </div>

</article>

</section>

{% endblock %}

