{% extends 'base_form.html' %}

{% block title %}Password Reset Confirm | pars{% endblock %}
{% block form_title %}Password Reset Confirm{% endblock %}

{% block form_action %}{% url 'password_reset_confirm' uidb64 token %}{% endblock %}

{% block form_body %}
<div class="card-body">
    {% csrf_token %}
    <label for="id_new_password1">New password:</label>
    <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1"  class="form-control">

    <label for="id_new_password2">New password confirmation:</label>
    <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" class="form-control">

    <hr>

    <button class="btn btn-primary" type="submit">Send</button>
</div>
{% endblock %}

