{% extends 'base_form.html' %}

{% block title %}Register | pars{% endblock %}
{% block form_title %}Register | pars{% endblock %}

{% block form_action %}{% url 'user_register' %}{% endblock %}


{% block form_body %}
<div class="card-body">
    {% csrf_token %}
    <label>Username*</label>
    <input type="text" placeholder="Username" name="username" class="form-control">
    <label>Email*</label>
    <input type="email" placeholder="e-mail" name="email" class="form-control">
    <div class="d-flex">
        <div>
            <label>First Name*</label>
            <input type="text" placeholder="First Name" name="first_name" class="form-control">
        </div>
        <div style="width: 14px;"></div>
        <div>
            <label>Last Name</label>
            <input type="text" placeholder="Last Name" name="last_name" class="form-control">
        </div>
    </div>
    <label>Password*</label>
    <input type="password" placeholder="Username" name="password1" class="form-control">
    <label>Password Confirm*</label>
    <input type="password" placeholder="Username" name="password2" class="form-control">
    <hr>
    <button class="btn btn-primary w-100" type="submit">Register</button>
    <div class="d-flex">
        <hr class="w-100">
        <strong class="mx-2">OR</strong>
        <hr class="w-100">
    </div>
    <a class="btn btn-warning w-100" href="{% url 'user_login' %}">Login</a>
</div>

{% endblock %}

