{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-6">
        <img src="{{ share.graphic }}">
    </div>
    <div class="col-6">
        <img src="{{ share.logo }}" class="m-auto" style="width: 50px; height: 50px; object-fit: cover">{{ share.title }}
        <hr>
        <div class="row">
            <div class="col-1 d-flex" style="max-width: max-content">
                ₺{{ share.current_price }}
            </div>
            <div class="col-1 d-flex" style="max-width: max-content">
                <i class="fa-regular fa-clock my-auto me-1"></i>{{ share.last_updated }}
            </div>
        </div>


    </div>
</div>
<form class="mb-4" method="post">
    {% csrf_token %}
    {{ share_form.as_p }}
    <hr>
    <div class="row">
  <div class="col-1">#</div>
  <div class="col-1">Quantity</div>
  <div class="col-1">Buy/Sale</div>
  <div class="col-1">Status</div>
  <div class="col-3">action date</div>
  <div class="col-1 text-center">update</div>
  <div class="col-1 text-center">delete</div>
</div>
    {% for slot in slots %}
        <div class="row">
          <div class="col-1">{{ forloop.counter }}</div>
          <div class="col-1">{{ slot.quantity }}</div>
          <div class="col-1">{{ slot.progres_type|upper }}</div>
        {% if slot.is_sale_cooldown %}
            <div class="col-1 text-success">cash</div>
        {% else %}
          <div class="col-1" v-else>freeze</div>
        {% endif %}
          <div class="col-3">{{ slot.action_time }}</div>
            <div class="col-1 text-center">
                <a href="{% url 'update-slot-share' share.code slot.id %}">
                <i class="fa-solid fa-pen-to-square"></i>
                </a>
            </div>
            <div class="col-1 text-center">
                <a class="link-danger" href="{% url 'delete-slot-share' share.code slot.id %}" onclick="confirm('You are about to delete slot information')">
                <i class="fa-solid fa-x"></i>
                </a>
            </div>
        </div>
    {% endfor %}
    <hr>
    {{ slots_form.as_p }}
    <hr>

    <hr>
    <div class="d-flex w-100">
    <button class="btn btn-primary">Save</button>
    <div class="w-100"></div>
    <a href="{% url 'delete-share' share.code %}" class="btn btn-danger">Delete</a>
    </div>
</form>
{% endblock%}

