<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{% static 'css/f4.css' %}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
    * {
      font-family: "Madimi One", sans-serif;
      font-weight: 300;
      font-style: normal;
    }
    .share-logo{
      width: 36px!important;
      height: 36px!important;
      object-fit: cover;
    }
    </style>

    {% block styles %}
    {% endblock%}
</head>
<body>
{% include 'header.html' %}
<!--header class="w-100 fw-bold py-2" data-bs-theme="dark">
  <section class="container d-flex justify-content-center my-auto">
    <article class="my-auto" style="min-width: max-content">
        <a href="{% url 'all-shares' %}">
            Finance Tracker
        </a>
    </article>
    <article class="w-100 text-center my-auto">
      <nav class="m-auto d-flex justify-content-center">
        <ul class="d-flex list-unstyled my-auto text-center">
          <li class="me-1"><a href="{% url 'all-shares' %}">Shares</a></li>
          <li class="me-1"><a href="{% url 'mine' %}">My Shares</a></li>
          <li class="mx-1 px-1 border-start border-end"><a href="{% url 'news' %}">News</a></li>
          <li class="mx-1 px-1 border-start border-end">Portföy</li>
        </ul>
      </nav>
    </article>
    <article class="my-auto d-flex" style="min-width: max-content">
      {% include 'darkmode.html' %}
      {% if user.is_authenticated %}
        {% include 'dropdownmenu.html' %}
      {% else %}
        <a>Login</a>
        <a>Register</a>
        {% endif %}
    </article>
  </section>
</header-->
<section class="d-flex">
    <article class="container justify-content-center pt-2">
        {% block content %}
        {% endblock %}
    </article>
</section>

{% block scripts %}
{% endblock%}

</body>
</html>