<nav class="navbar navbar-expand-lg shdow bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="{% url 'all-shares' %}">
        Finance Tracker
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
     {% with request.resolver_match.url_name as url_name %}
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if url_name == 'all-shares' %}active{% endif %}" aria-current="page" href="{% url 'all-shares' %}">
              Shares
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if url_name == 'mine' %}active{% endif %}" href="{% url 'mine' %}">
              My Shares
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if url_name == 'news' %}active{% endif %}" href="{% url 'news' %}">
              New
          </a>
        </li>
        <li class="nav-item dropdown">

        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    {% endwith %}
      <div class="d-flex">
        {% include 'darkmode.html' %}
        {% if user.is_authenticated %}
            {% include 'dropdownmenu.html' %}
          {% else %}
            <a class="text-decoration-none my-auto" href="{% url 'user_login' %}">Login</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>

